body {
  font-family: "Roboto Mono", monospace;
  min-height: 600px;
  color: #00000;
  border-style: solid;
  border-width: 20px 15px;
  border-radius: 5px;
}

.container {
  text-align: center;
  padding: 20px;
  height: 100vh;
}

.page-title {
  color: #00000;
  margin: 0 0 5px;
}

.page-subtitle {
  color: #00000;
  margin-top: 16px;
}

.page-logo {
  width: 200px;
}

input {
  margin: 4px;
  padding: 6px;
  border-radius: 5px;
}

button {
  margin-top: 12px;
  padding: 4px 8px;
  border-radius: 10px;
  background: #00000;
}

.resultado {
  color: #00000;
  text-align: center;
  margin-top: 16px;
}
